Package: libdpkg-dev
Source: dpkg
Version: 1.19.2
Architecture: amd64
Origin: debian
Bugs: debbugs://bugs.debian.org
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Installed-Size: 9651
Depends: zlib1g-dev, liblzma-dev, libbz2-dev
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://wiki.debian.org/Teams/Dpkg
Description: Debian package management static library
 This package provides the header files and static library necessary to
 develop software using libdpkg, the same library used internally by dpkg.
 .
 Note though, that the API is to be considered volatile, and might change
 at any time, use at your own risk.
